/* * {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}

a {
text-decoration: none;
}

a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}

End of CSS reset*/

body {
    background: linear-gradient(to left, #FF00C7 0%,#00c7ff 100%);
}

#root {
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    color: #fff;
}

header {
	width: 100%;
	height: 100%;
    position: absolute;
    align-content: center;
	text-align: center;
	top: 30px;
    font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: 900;
	color: #fff;
	font-size: 35px;
}

header span {
    font-weight: 100;
	font-style: italic;
}
#addUser {
    width: 350px;
	height: 750px;
    top: 100px;
	left: calc(50% - 175px);
	border-radius: 15px;
	overflow: hidden;
	margin: auto;
	position: absolute;
	border-top: 4px solid rgb(243, 93, 66);
	background: #1E202B;
    font-family: 'Poppins', sans-serif;
}

#form {
	width: 350px;
	height: auto;
    top: 850px;
	left: calc(50% - 175px);
	border-radius: 15px;
	overflow: hidden;
	margin: auto;
	position: absolute;
	border-top: 4px solid rgb(243, 93, 66);
	background: #9056d3;
    font-family: 'Poppins', sans-serif;
}

input {
	width: 92%;
	height: 25px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
    margin: 10px;
    background: #f2f2f8;
}

textarea {
    width: 92%;
	height: 40px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
    margin: 10px;
    background: #f2f2f8;
}

label {
    margin-left: 5%;
}

#pic {
    background: #9056d3;
}

button {
    display: flex;
    width: 120px;
    height: 30px;
    margin: auto;
    margin-bottom: 20px; 
    text-align: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
    background-color: #1d8eda;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#userComponent {
    width: 350px;
	height: 420px;
    top: 120px;
	left: calc(50% - 175px);
	border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: auto;
    padding-bottom: 15px;
    text-align: center;
    justify-content: center;
    line-height: 1.5em;
	position: absolute;
	border-top: 4px solid tomato;
	background-color: #d5d7df;
    color: rgb(18, 19, 18);
    font-family: 'Poppins', sans-serif;
}
  
#userComponent h1 {
    width: 350px;
    margin: 0;
    margin-bottom: 15px;
    padding: 20px 0 200px 0;
    border-radius: 50px;
    font-size: 25px;
    background: linear-gradient(to left, #bd29b5 0%,#2d1152 100%);
    color: #fff;
}

#userComponent p {
    margin-bottom: 15px;
    font-weight: 400;
}

#profileImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
}

img {
    top: 190px;
	left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 100;
}